
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered.block Métricas

    .ui.segment.form.input
      = search_form_for @q, url: metric_index_path do |f|
        .field
          = f.label :id, 'Ciclo'
          -# = f.select :id_eq, options_from_collection_for_select(Cycle.all, "id", "name", {:selected => @cycle_id})
          -# last cycle only temporarily until logic to maintain cycle for planning every time a new cycle is generated.
          = f.select :id_eq, options_from_collection_for_select(Cycle.where(id: Cycle.last.id), "id", "name", {:selected => Cycle.last.id}), {}, {class: 'ui dropdown'}
        -# = f.submit "Filtrar", :class => "ui blue submit button"


        -# .ui.bottom.attached.tab.segment.active{"data-tab" => "first"}
        = link_to 'Imprimir Reporte', report_visits_path(:format => 'pdf', :cycle_id => @cycle.id), 
          target: :_blank,
          class: "ui blue basic submit button"
    %table.ui.sortable.celled.table.striped.blue.gridtable
      %thead
        %tr
          %th Usuario
          %th Total de Visitas Actuales
          %th Visitas Realizadas
          %th Visitas Por Realizar
          
          %th % de Métrica Cumplida
      %tbody
        - @users.each do |user|
          - next if user.id == 1
          - next if !user.is_active
          %tr
            %td= user.username
            -# - byebug
            -# %td= user.plannings.count
            %td= Planning.includes(:doctor).where(drugstore: nil, user_id: user.id).count  
            -# %td= user.visits.where(cycle: Cycle.find(@cycle.id).name).count
            %td= Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, user_id: user.id, visits: {cycle: Cycle.find(@cycle.id).name}).count
            -# -byebug  
            -# %td= user.plannings.where(visited: false).count 
            %td= Planning.includes(:doctor, :visits).where(drugstore: nil, visited: false, user_id: user.id).count
  
            -# %td= number_to_percentage((user.visits.where(cycle: @cycle.name).count.to_f / user.plannings.count.to_f)*100, precision: 0)
            %td     
              .progress-bar.ui.teal.progress.small{"data-percent" => "#{number_to_percentage((Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, user_id: user.id, visits: {cycle: Cycle.find(@cycle.id).name}).count.to_f / Planning.includes(:doctor).where(drugstore: nil, user_id: user.id).count.to_f)*100, precision: 0)}"}
                .bar
                .label 
                  - if ((Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, user_id: user.id, visits: {cycle: Cycle.find(@cycle.id).name}).count.to_f / Planning.includes(:doctor, :visits).where(visited: false, user_id: user.id).count.to_f)*100).nan?
                    0 %
                  - else  
                    = number_to_percentage((Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, user_id: user.id, visits: {cycle: Cycle.find(@cycle.id).name}).count.to_f / Planning.includes(:doctor).where(drugstore: nil, user_id: user.id).count.to_f)*100, precision: 0)
      - if current_user.admin
        %tfoot
          %tr.warning
            %td
              -# = @users.where(is_active: true, admin: false).count
              Totales
            %td
              = Planning.includes(:doctor).where(drugstore: nil).count 
            %td
              = Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, visits: {cycle: Cycle.find(@cycle.id).name}).count
            %td
              = Planning.includes(:doctor, :visits).where(drugstore: nil, visited: false).count
            %td
              .progress-bar.ui.teal.progress.small{"data-percent" => "#{number_to_percentage((Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, visits: {cycle: Cycle.find(@cycle.id).name}).count.to_f / Planning.includes(:doctor).where(drugstore: nil).count.to_f)*100, precision: 0)}"}
                .bar
                .label 
                  - if ((Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, visits: {cycle: Cycle.find(@cycle.id).name}).count.to_f / Planning.includes(:doctor, :visits).where(visited: false).count.to_f)*100).nan?
                    0 %
                  - else  
                    = number_to_percentage((Planning.includes(:doctor, :visits).where(drugstore: nil, visited: true, visits: {cycle: Cycle.find(@cycle.id).name}).count.to_f / Planning.includes(:doctor).where(drugstore: nil).count.to_f)*100, precision: 0)

    -# %br 
    -# Remover a peticion de Dario
    -# %table.ui.sortable.celled.table.striped.blue.gridtable
    -#   %thead
    -#     %tr
    -#       %th Usuario
    -#       %th Doctor
    -#       %th Centro
    -#       %th Fecha de Visita  
    -#   %tbody
    -#     - @visits.each do |visit|
    -#       - next if visit.user.id == 1
    -#       %tr
    -#         %td= visit.user.username
    -#         %td= "#{visit.planning.doctor.firstname} #{visit.planning.doctor.lastname}"
    -#         %td= visit.planning.doctor.center.name if visit.planning.doctor.center != nil
    -#         %td= visit.created_at.strftime("%d/%m/%Y")  
   


    -# .ui.segment.form.input{:style => "margin-top: 0;"}
    -#   = search_form_for @q, :url => metric_index_path do |f|
    -#     .fields
    -#       .field
    -#         = f.label :cycle_id_eq, 'Período'
    -#         -# = f.search_field :cycle_name_cont
    -#         = f.select :cycle_id_eq, options_from_collection_for_select(Cycle.all, "id", "name", @q.cycle_name_cont), include_blank: false, :class=>'ui search dropdown'
    -#
    -#     = f.submit "Buscar", :class => "ui blue submit button"
    -# .ui.segment.form.input{:style => "margin-top: 0;"}
    -#   = search_form_for @q, :url => metric_index_path do |f|
    -#     .three.fields
    -#       .field
    -#         = f.label :user_username_cont, 'Usuario'
    -#         = f.search_field :user_username_cont
    -#       .field
    -#         = f.label :user_division_name_cont, 'Divición'
    -#         = f.search_field :user_division_name_cont
    -#       .field
    -#         = f.label :user_division_name_cont, 'Eje'
    -#         -# = f.search_field :user_division_eje_name_cont
    -#         = f.select(:user_division_name_cont, @ejes.collect {|p| [ p.name] }, {include_blank: true, prompt: 'Seleccionar Eje'}, :id => "e1", :class => "ui search dropdown", :style => "width: 100%;")





    -#     = f.submit "Buscar", :class => "ui blue submit button"

    -# .ui.segment.form.input{:style => "margin-top: 0;"}
    -#   = search_form_for @q, url: metric_print_report_path(:format => "pdf"), :html => {:target=>'_blank'} do |f|
    -#     .fields
    -#       .field
    -#         = f.label :cycle_id_eq, 'Período'
    -#         -# = f.search_field :cycle_name_cont
    -#         = f.select :cycle_id_eq, options_from_collection_for_select(Cycle.all, "id", "name", @q.cycle_name_cont), include_blank: false, :class=>'ui search dropdown'

    -#     = f.submit "Imprimir", :class => "ui blue submit button"


    -# %table.ui.sortable.celled.table.striped
    -#   %thead
    -#     %tr
    -#       %th Usuario
    -#       %th Division
    -#       %th Eje
    -#       %th No. de Visitas Planeadas
    -#       %th No. de Visitas Realizadas
    -#       %th % de Métrica Cumplida

    -#   %tbody
    -#     - if current_user.admin
    -#       - @users.each do |user|
    -#         - if !user.admin
    -#           %tr
    -#             %td= user.username
    -#             %td= user.division.name
    -#             %td= user.division.name
    -#             %td= user.planned_visit
    -#             %td= user.visit_done
    -#             -# - if  params[:q]
    -#             -#   %td= Planning.joins(:cycle).where(:user_id => planning.user.id,cycles: {id: params[:q][:cycle_id_eq]}).count
    -#             -#   %td= Planning.joins(:cycle).where(:user_id => planning.user.id,:visited => true, cycles: {id: params[:q][:cycle_id_eq]}).count
    -#             -# - else
    -#             -#   %td= Planning.where(:user_id => planning.user.id).count
    -#             -#   %td= Planning.where(:user_id => planning.user.id, :visited => true).count
    -#             %td= number_to_percentage((user.metric)*100, precision: 0)
    -#     - else
    -#       - @users.each do |user|
    -#         - if !user.admin
    -#           %tr
    -#             %td= user.username if user.id == current_user.id
    -#             %td= user.division.name if user.id == current_user.id  
    -#             %td= user.division.name if user.id == current_user.id
    -#             %td= user.planned_visit if user.id == current_user.id
    -#             %td= user.visit_done if user.id == current_user.id
    -#             -# - if  params[:q]
    -#             -#   %td= Planning.joins(:cycle).where(:user_id => planning.user.id,cycles: {id: params[:q][:cycle_id_eq]}).count
    -#             -#   %td= Planning.joins(:cycle).where(:user_id => planning.user.id,:visited => true, cycles: {id: params[:q][:cycle_id_eq]}).count
    -#             -# - else
    -#             -#   %td= Planning.where(:user_id => planning.user.id).count
    -#             -#   %td= Planning.where(:user_id => planning.user.id, :visited => true).count
    -#             %td= number_to_percentage((user.metric)*100, precision: 0) if user.id == current_user.id





   