
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Métricas

    .ui.segment.form.input{:style => "margin-top: 0;"}
      = search_form_for @q, :url => metric_index_path do |f|
        .fields
          .field#planning_date_visit
            = f.label :plannings_created_at_gteq, 'Fecha'
            = f.search_field :plannings_created_at_gteq


        = f.submit "Buscar", :class => "ui blue submit button"
    -# .ui.segment.form.input{:style => "margin-top: 0;"}
    -#   %h1 Gráficos

    -#
    -# .ui.large.action.input
    -#   = form_tag metric_index_path, :method => 'get' do
    -#     .field#planning_date_visit
    -#       = text_field_tag :search, params[:search], :placeholder => "Fecha..."
    -#     = button_tag "Buscar", :name => nil, :class => "button large ui button"
    -# %button.ui.large.olive.icon.button.right.floated
    -#   %i.print.icon

    -# .ui.large.action.input
    -#   = form_tag report_planning_path, :method => 'get' do
    -#     .field.required#planning_date_visit
    -#       = text_field_tag :search, params[:search], :placeholder => "Fecha..."
    -#     = button_tag "Buscar", :name => nil, :class => "button large ui button"

    %table.ui.sortable.celled.table.striped
      %thead
        %tr
          %th Usuario
          %th No. de Visitas Planeadas
          %th No. de Visitas Realizadas
          %th % de Métrica Cumplida

      -# %tbody
      -#   - @plannings.each do |planning|
      -#     %tr
      -#       %td= planning.user.username
      -#       %td= planning.user.plannings.count
      -#       %td= planning.user.plannings.where(:visited => true).count
      -#       %td= number_to_percentage((planning.user.plannings.where(:visited => true).count.to_f / planning.user.plannings.count.to_f)*100, precision: 0)


      %tbody
        - @users.each do |user|
          %tr
            %td= user.username
            %td= user.plannings.count
            %td= user.plannings.where(:visited => true).count
            %td= number_to_percentage((user.plannings.where(:visited => true).count.to_f / user.plannings.count.to_f)*100, precision: 0)



            -# %td.collapsing.positive
            -#   = link_to 'Ver', planning, class: "ui brown basic submit button"

      -# = will_paginate @plannings, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3


    -# %br
    -# - if params[:q]
    -#   = link_to report_planning_path, class: "ui blue basic submit button" do
    -#     %i.big.icons
    -#       %i.reply.icon
    -#     = 'Volver'
    -# - else
    -#   = link_to report_index_path, class: "ui blue basic submit button" do
    -#     %i.big.icons
    -#       %i.reply.icon
    -#     = 'Volver'
