.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered.block Registros
    
    .ui.statistics.four.column.grid.small{:style => "margin-top: 20px;"}
      .statistic
        .value.icon-gradient
          %i.doctor.icon.icon-gradient
          = @doctors.count
        .label.icon-gradient
          Doctores
      .statistic
        .value.icon-gradient
          %i.hospital.icon.icon-gradient
          = @centers.count
        .label.icon-gradient
          Centros
      .statistic
        .value.icon-gradient
          %i.first.aid.icon.icon-gradient
          = @drugstores.count
        .label.icon-gradient
          Farmacias
      .statistic
        .value.icon-gradient
          %i.calendar.icon.icon-gradient
          = @plannings.count
        .label.icon-gradient
          Planeamientos
    
    -# .ui.three.column.grid{:style => "margin-top: 20px;"}
    -#   .column
    -#     .ui.centered.card
    -#       %h2.ui.header.blue.centered
    -#         = @doctors.count
    -#       %div#container1
    -#       .content
    -#         .header Doctores
    -#   .column        
    -#     .ui.centered.card
    -#       %h2.ui.header.blue.centered
    -#         = @centers.count
    -#       %div#container2
    -#       .content
    -#         .header Centros
    -#   .column
    -#     .ui.centered.card
    -#       %h2.ui.header.blue.centered
    -#         = @drugstores.count
    -#       %div#container3
    -#       .content
    -#         .header Farmacias
    -#   .column
    -#     .ui.centered.card
    -#       %h2.ui.header.blue.centered
    -#         = @plannings.count
    -#       %div#container4
    -#       .content
    -#         .header Cantidad de planeamiento total

    %br
    -# - if current_user.admin
    -#   %div.specialty_div
    -#   .ui.statistics.segment.ten
    -#     - Doctor::SPECIALTIES.each do |x|
    -#       - if x[0] != "General/Todas"
    -#         .statistic{:class => "#{Doctor::COLORS.sample}"}
    -#           .value
    -#             = Doctor.where(speciality: x[0]).count
    -#           .label
    -#             = x[0]
    -# class: "#{Doctor::COLORS.sample}"} to change colors randomly

    - if current_user.admin

      %table.ui.sortable.celled.table.striped.blue.compact
        %thead
          %tr
            %th Especialidad
            %th Cant.

        %tbody
          - Doctor::SPECIALTIES.each do |x|
            - if x[0] != "General/Todas"
              %tr
                %td.collapsing= "#{x[0]}"
                %td
                  .progress-bar.ui.progress.register{"data-total" => "#{Planning.includes(:doctor).where(visited: true, :doctors => {speciality: x[0]}).count}", 
                                                     "data-percent" => "#{number_to_percentage((Planning.includes(:doctor).where(visited: true, :doctors => {speciality: x[0]}).count.to_f / Planning.includes(:doctor).where(:doctors => {speciality: x[0]}).count.to_f)*100, precision: 0).to_i}", 
                                                     class: "teal"}
                    -# -byebug
                    .bar
                      .progress
                    .label
                      -# = Planning.includes(:doctor).where(cycle_id: Cycle.last.id , :doctors => {speciality: x[0]}).count
                      = Planning.includes(:doctor).where(visited: true, :doctors => {speciality: x[0]}).count
                      de
                      = Planning.includes(:doctor).where(:doctors => {speciality: x[0]}).count
                      -# = Doctor.where(speciality: x[0]).count

    -2.times do 
      %br
    -# %div.specialty_div

      -# - if current_user.admin
      -#   %div.specialty_div
      -#   - Doctor::SPECIALTIES.each do |x|
      -#     - if x[0] != "General/Todas"
      -#       .column
      -#         .ui.centered.card
      -#           %h2.ui.header.blue.centered
      -#             = Doctor.where(speciality: x[0]).count
      -#           %div.specialty_div 
      -#           .content
      -#             .header 
      -#               = x[0]
        
    - if current_user.admin  
      .ui.dividing.header.blue
        Especialidades por Usuario  

      .ui.flui.selection.dropdown#register-users
        %input{:name => "user", :type => "hidden"}/
        %i.dropdown.icon
        .default.text Selecciona un Usuario
        .menu
          - @users.each do |x|
            - next if x.admin || x.doctors.empty?
            .item{"data-value" => "#{x.id}"}
              = x.username

      .ui.container
        %br
        - @users.each do |user|
          - next if user.admin || user.doctors.empty?
          
          .ui.tab{"data-tab" => "#{user.username}"}
            %table.ui.sortable.celled.table.striped.blue.gridtable
              %thead
                %tr
                  %th Especialidad
                  %th Cant. de Doctores
                  %th Vistos
                  %th Por Visitar
                  %th.six.wide % Cumplido
              %tbody
                - Doctor::SPECIALTIES.each do |x|
                  - if x[0] != "General/Todas"
                    %tr
                      %td= "#{x[0]}"
                      -# %td= user.doctors.where(speciality: x[0]).count
                      %td= Planning.includes(:doctor).where(user_id: user.id, :doctors => {speciality: x[0]}).count
                      %td= Planning.includes(:doctor).where(visited: true, user_id: user.id, :doctors => {speciality: x[0]}).count
                      -# - byebug
                      %td= Planning.includes(:doctor).where(visited: false, user_id: user.id, :doctors => {speciality: x[0]}).count
                      
                      -# %td= number_to_percentage((user.visits.where(cycle: @cycle.name).count.to_f / user.plannings.count.to_f)*100, precision: 0)
                      %td    
                        .progress-bar.ui.teal.progress.small{"data-percent" => "#{number_to_percentage((Planning.includes(:doctor).where(visited: true, user_id: user.id, :doctors => {speciality: x[0]}).count.to_f / Planning.includes(:doctor).where(user_id: user.id, :doctors => {speciality: x[0]}).count.to_f)*100, precision: 0).to_i}"}
                          .bar
                          .label 
                            - if ((Planning.includes(:doctor).where(visited: true, user_id: user.id, :doctors => {speciality: x[0]}).count.to_f / Planning.includes(:doctor).where(user_id: user.id, :doctors => {speciality: x[0]}).count.to_f)*100).nan?
                              0 %
                            - else  
                              = number_to_percentage((Planning.includes(:doctor).where(visited: true, user_id: user.id, :doctors => {speciality: x[0]}).count.to_f / Planning.includes(:doctor).where(user_id: user.id, :doctors => {speciality: x[0]}).count.to_f)*100, precision: 0)
          




          -# Good old one
            -# %table.ui.sortable.celled.table.striped.teal.compact
            -#   %thead
            -#     %tr
            -#       %th Especialidad
            -#       %th Cant.
      
            -#   %tbody
            -#     - Doctor::SPECIALTIES.each do |x|
            -#       - if x[0] != "General/Todas"
            -#         %tr
            -#           %td.collapsing= "#{x[0]}"
            -#           %td
            -#             .progress-bar.ui.progress.register{"data-total" => "#{user.doctors.where(speciality: x[0]).count}", 
            -#                                               "data-percent" => "#{(((user.doctors.where(speciality: x[0]).count.to_f)/user.max)*100).to_i}", 
            -#                                               class: "#{Doctor::COLORS.sample}"}
            -#               -# -byebug
            -#               .bar
            -#                 .progress
            -#               .label 
            -#                 = Planning.includes(:doctor).where(user_id: user.id, cycle_id: Cycle.last.id , :doctors => {speciality: x[0]}).count
            -#                 de
            -#                 = user.doctors.where(speciality: x[0]).count
                            
    - else
      %table.ui.sortable.celled.table.striped.blue.compact
        %thead
          %tr
            %th Especialidad
            %th Doctores visitados

        %tbody
          - Doctor::SPECIALTIES.each do |x|
            - if x[0] != "General/Todas"
              %tr
                %td.collapsing= "#{x[0]}"
                %td
                  .progress-bar.ui.progress.register{"data-total" => "#{Planning.includes(:doctor).where(visited: true, user_id: current_user.id, :doctors => {speciality: x[0]}).count}", 
                                                    "data-percent" => "#{number_to_percentage((Planning.includes(:doctor).where(visited: true, user_id: current_user.id, :doctors => {speciality: x[0]}).count.to_f / Planning.includes(:doctor).where(user_id: current_user.id, :doctors => {speciality: x[0]}).count.to_f)*100, precision: 0).to_i}", 
                                                    class: "teal"}
                    -# -byebug
                    .bar
                      .progress
                    .label
                      = Planning.includes(:doctor).where(visited: true, user_id: current_user.id, :doctors => {speciality: x[0]}).count
                      de
                      -# = current_user.doctors.where(speciality: x[0]).count
                      = Planning.includes(:doctor).where(user_id: current_user.id, :doctors => {speciality: x[0]}).count

    -# .ui{:style => "margin-top: 20px;"}
    -#   %h2
    -#     = "CIR - #{Doctor.where(speciality: 'CIR', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir', data: {doctors: @cir_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "CIR MAX - #{Doctor.where(speciality: 'CIR MAX', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir_max', data: {doctors: @cir_max_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "CIR ONCO - #{Doctor.where(speciality: 'CIR ONCO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir_onco', data: {doctors: @cir_onco_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "CIR PED - #{Doctor.where(speciality: 'CIR PED', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir_ped', data: {doctors: @cir_ped_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "CIR PLAST - #{Doctor.where(speciality: 'CIR PLAST', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir_plast', data: {doctors: @cir_plast_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "CIR PROC - #{Doctor.where(speciality: 'CIR PROC', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir_proc', data: {doctors: @cir_proc_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "CIR VAS - #{Doctor.where(speciality: 'CIR VAS', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'cir_vas', data: {doctors: @cir_vas_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "DERM - #{Doctor.where(speciality: 'DERM', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'derm', data: {doctors: @derm_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "DIABE - #{Doctor.where(speciality: 'DIABE', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'diabe', data: {doctors: @diabe_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "ENDO - #{Doctor.where(speciality: 'ENDO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'endo', data: {doctors: @endo_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "FIS - #{Doctor.where(speciality: 'FIS', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'fis', data: {doctors: @fis_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "GASTRO - #{Doctor.where(speciality: 'GASTRO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'gastro', data: {doctors: @gastro_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "GER - #{Doctor.where(speciality: 'GER', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'geria', data: {doctors: @geria_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "INTENSI- #{Doctor.where(speciality: 'INTENSI', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'intensi', data: {doctors: @intensi_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "GIN - #{Doctor.where(speciality: 'GIN', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'gin', data: {doctors: @gin_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "HEMA - #{Doctor.where(speciality: 'HEMA', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'hema', data: {doctors: @hema_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "MF - #{Doctor.where(speciality: 'MF', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'mf', data: {doctors: @mf_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "MG - #{Doctor.where(speciality: 'MG', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'mg', data: {doctors: @mg_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "MI - #{Doctor.where(speciality: 'MI', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'mi', data: {doctors: @mi_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "NEFRO - #{Doctor.where(speciality: 'NEFRO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'nefro', data: {doctors: @nefro_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "NEURO - #{Doctor.where(speciality: 'NEURO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'neuro', data: {doctors: @neuro_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "NEURO CIR - #{Doctor.where(speciality: 'NEURO CIR', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'neuro_cir', data: {doctors: @neuro_cir_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "ORTO - #{Doctor.where(speciality: 'ORTO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'orto', data: {doctors: @orto_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "REUMA - #{Doctor.where(speciality: 'REUMA', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'reuma', data: {doctors: @reuma_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "URO - #{Doctor.where(speciality: 'URO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'uro', data: {doctors: @uro_obj}, :style => "height: 250px;"
    -#   %br
    -# .ui{:style => "margin-top: 40px;"}
    -#   %h2
    -#     = "OTO - #{Doctor.where(speciality: 'OTO', user_id: @users.ids).count}"
    -#   = content_tag :div, "", id: 'oto', data: {doctors: @oto_obj}, :style => "height: 250px;"



-# - content_for :registers do
-#   :javascript
-#     var data= $('#cir').data()['doctors'];
-#     new Morris.Bar({
-#       // ID of the element in which to draw the chart.
-#       element: 'cir',
-#       // Chart data records -- each entry in this array corresponds to a point on
-#       // the chart.
-#       data: data,
-#       // The name of the data record attribute that contains x-values.
-#       xkey: 'username',
-#       // A list of names of data record attributes that contain y-values.
-#       ykeys: ['value'],
-#       // Labels for the ykeys -- will be displayed when you hover over the
-#       // chart.
-#       labels: ['Cantidad de CIR'],
-#       resize: true
-#     });
    
-#     var data= $('#cir_max').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'cir_max',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de CIR MAX'],
-#       resize: true
-#     });
-#     var data= $('#cir_onco').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'cir_onco',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de CIR ONCO'],
-#       resize: true
-#     });
-#     var data= $('#cir_ped').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'cir_ped',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de CIR PED'],
-#       resize: true
-#     });
-#     var data= $('#cir_plast').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'cir_plast',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de CIR PLAST'],
-#       resize: true
-#     });
-#     var data= $('#cir_proc').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'cir_proc',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de CIR PROC'],
-#       resize: true
-#     });
-#     var data= $('#cir_vas').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'cir_vas',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de CIR VAS'],
-#       resize: true
-#     });
-#     var data= $('#derm').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'derm',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de DERM'],
-#       resize: true
-#     });
-#     var data= $('#diabe').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'diabe',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de DIABE'],
-#       resize: true
-#     });
-#     var data= $('#endo').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'endo',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de ENDO'],
-#       resize: true
-#     });
-#     var data= $('#fis').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'fis',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de FIS'],
-#       resize: true
-#     });
-#     var data= $('#gastro').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'gastro',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de GASTRO'],
-#       resize: true
-#     });
-#     var data= $('#geria').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'geria',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de GER'],
-#       resize: true
-#     });
-#     var data= $('#intensi').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'intensi',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de INTENSI'],
-#       resize: true
-#     });
-#     var data= $('#gin').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'gin',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de GIN'],
-#       resize: true
-#     });
-#     var data= $('#hema').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'hema',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de HEMA'],
-#       resize: true
-#     });
-#     var data= $('#mf').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'mf',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de MF'],
-#       resize: true
-#     });
-#     var data= $('#mg').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'mg',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de MG'],
-#       resize: true
-#     });
-#     var data= $('#mi').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'mi',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de MI'],
-#       resize: true
-#     });
-#     var data= $('#nefro').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'nefro',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de NEFRO'],
-#       resize: true
-#     });
-#     var data= $('#neuro').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'neuro',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de NEURO'],
-#       resize: true
-#     });
-#     var data= $('#neuro_cir').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'neuro_cir',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de NEURO CIR'],
-#       resize: true
-#     });
-#     var data= $('#orto').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'orto',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de ORTO'],
-#       resize: true
-#     });
-#     var data= $('#reuma').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'reuma',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de REUMA'],
-#       resize: true
-#     });
-#     var data= $('#uro').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'uro',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de URO'],
-#       resize: true
-#     });
-#     var data= $('#oto').data()['doctors'];
-#     new Morris.Bar({
-#       element: 'oto',
-#       data: data,
-#       xkey: 'username',
-#       ykeys: ['value'],
-#       labels: ['Cantidad de OTORRINOS'],
-#       resize: true
-#     });
