.pusher
  %div.main.ui.container
    %h1.ui.header.blue Listado de Farmacias

    .ui.icon.input
      = form_tag drugstores_path, :method => 'get' do
        = text_field_tag :search, params[:search], :placeholder => "Farmaica..."
        = submit_tag "Buscar", :name => nil, :class => "ui primary basic button"

    %table.ui.sortable.celled.table.striped
      %thead
        %tr
          %th Farmacia
          %th Tel.
          %th Dirección
          %th Ciudad
          %th Acciones

      %tbody
        - @drugstores.each do |drugstore|
          %tr
            -# %td.collapsing
            -#   %div.ui.fitted
            -#     = drugstore.speciality
            %td= drugstore.name
            %td= drugstore.phone
            %td= drugstore.address
            %td= drugstore.city
            -# %td= drugstore.center.name if drugstore.center
            %td.collapsing.positive
              = link_to 'Ver', drugstore, class: "ui brown basic submit button"
              = link_to 'Editar', edit_drugstore_path(drugstore), class: "ui blue basic submit button"
              = link_to 'Eliminar', drugstore, :method => :delete,
                                              class: "ui red basic submit button",
                                              :data => { :confirm => '¿Está seguro…?' }
          -#  %td= link_to 'Eliminar', drugstore, :method => :delete, :data => { :confirm => 'Are you sure?' }
      = will_paginate @drugstores, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3

    %br

    -# = link_to 'New Drugstore', new_drugstore_path
    - if params[:search]
      = link_to drugstores_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    = link_to new_drugstore_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.hospital.icon
        %i.corner.add.icon
      = 'Agregar Farmacia'
