.ui.attached.message
  .header
    Registro de Visita


  %p Por favor llenar los siguientes datos

= simple_form_for([@planning, @planning.visits.build], :html => {:class => 'ui form huge attached fluid segment', :autocomplete => "off"}) do |f|
  -# = f.error_notification

  .form-inputs
    -# = f.input :planning, value: @planning
    -# = f.hidden_field :planning, value: params[:planning]
    .field
      - if @planning.drugstore.present?
        = f.label "Farmacia: #{Planning.find(params[:planning_id]).drugstore.name}"
      - else
        = f.label "Doctor: #{Planning.find(params[:planning_id]).doctor.firstname} #{Planning.find(params[:planning_id]).doctor.lastname}"
    .field.required#planning_date_visit
      = f.label "Fecha de Visita"
      = f.input :date_visit, label: false, as: :string, start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year], 
                              input_html: {value: Time.now.strftime("%d/%m/%Y")}
    
    .field
      = f.label "Nota"
      = f.input :note, label: false

    = f.hidden_field :user, value: params[:user]
    = f.hidden_field :planning_id
    = f.hidden_field :cycle, value: Cycle.last.name

    .form-actions
      = f.button :submit, :value => "Registrar", :class => "ui blue fluid huge submit button", :data => { :disable_with => "Procesando" }
