.ui.attached.message
  .header
    Registro


  %p Por favor llenar los siguientes datos

= simple_form_for(@center, :html => {:class => 'ui form huge attached fluid segment'}) do |f|
  -# = f.error_notification
  .field
    .field.required
      = f.input :name, label: 'Nombre'
    .field
      = f.input :address, label: 'Dirección'
    .eight.wide.field
      = f.label 'Ciudad'
      = f.input :city, label: false, collection: Center::CITIES, input_html: { class: 'ui search dropdown' }

  .form-actions
    = f.button :submit, :value => "Salvar", :class => "ui blue fluid huge submit button"
