.ui.attached.message
  .header
    Registro


  %p Por favor llenar los siguientes datos

= simple_form_for(@center, :html => {:class => 'ui form huge attached fluid segment'}) do |f|
  -# = f.error_notification
  .field
    .field.required
      = f.label 'Nombre'
      = f.input :name, label: false
    .field
      = f.label 'Dirección'
      = f.input :address, label: false
    .eight.wide.field
      = f.label 'Ciudad'
      = f.input :city, label: false, collection: Center::CITIES, input_html: { class: 'ui search dropdown' }
    .field
      = f.label 'Region'
      = f.input :region, label: false
    .field
      = f.label "Tel."
      = f.input :phone, label: false, id: 'center_phone', :placeholder => "(000)000-0000"
    / map div
    %label Mapa
    #map{:style => "width: 100%; height: 350px;"}
    = f.hidden_field :lat, id: 'map_lat'
    = f.hidden_field :lng, id: 'map_lng'

  .form-actions
    = f.button :submit, :value => "Salvar", :class => "ui blue fluid huge submit button", :data => { :disable_with => "Procesando" }

- content_for :center_new do
  :javascript
    $("#center_phone").mask("(999)999-9999");
