-# %h1 Listing centers

.pusher
  %div.main.ui.container
    %h1.ui.header.blue Listado de Centros

    .ui.icon.input
      = form_tag centers_path, :method => 'get' do
        = text_field_tag :search, params[:search], :placeholder => "Centro..."
        = submit_tag "Buscar", :name => nil, :class => "ui primary basic button"


    %table.ui.sortable.celled.table.striped
      %thead
        %tr
          %th Centro
          %th Región
          %th Dirección
          %th Ciudad
          %th Acciones


      %tbody
        - @centers.each do |center|
          %tr
            %td= center.name
            %td= center.region
            %td= center.address
            %td= center.city
            %td.collapsing.positive
              = link_to 'Ver', center, class: "ui brown basic submit button"
              = link_to 'Editar', edit_center_path(center), class: "ui blue basic submit button"
              = link_to 'Eliminar', center, :method => :delete,
                                            class: "ui red basic submit button",
                                            :data => { :confirm => '¿Está seguro…?' }


      = will_paginate @centers, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3

    %br
    - if params[:search]
      = link_to centers_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    -# = link_to 'New Center', new_center_path
    = link_to new_center_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.hospital.icon
        %i.corner.add.icon
      = 'Nuevo Centro'
