%p#notice= notice

.pusher
  %div.main.ui.container

  %h2.ui.center.aligned.icon.header
    %i.circular.hospital.icon.blue
    = @center.name

%div.main.ui.container.ui.center.aligned
  %p
    %b Nombre del Centro:
    = @center.name
  %p
    %b Dirección:
    = @center.address
  %p
    %b Ciudad:
    = @center.city
  %p
    %b Tel.:
    = @center.phone
  -# %p
  -#   lat:
  -#   =@center.lat
  -# %p
  -#   lng:
  -#   =@center.lng
  / map div
  %label Mapa
  #map{:style => "width: 100%; height: 350px;"}


  -# = link_to 'Editar', edit_center_path(@center)
  -# \|
  -# = link_to 'Volver', centers_path

- content_for :gmap_show_js do
  :javascript
    $(document).ready(function(){
      var center = #{@center.to_json}    // pass ruby variable to javascript
      gmap_show(center);    // init show map for center card (only print marker)
    });
