.ui.attached.message
  .header
    Asignar Ruta

  %p Por favor llenar los siguientes datos

= simple_form_for @event, :html => {:class => 'ui form huge attached fluid segment'}, remote: true do |f|
  .field
    .field.required
      = f.label 'Descripción'
      = f.input :title, label: false
    .field
      = f.label 'Fecha'
      = f.input :date_range, label: false, input_html: { class: "form-control input-sm date-range-picker" }
      = f.input_field :start, label: false, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden'
      = f.input_field :end, label: false, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden'
    .four.wide.field
      = f.label 'Color'
      = f.input :color, label: false, collection: [['Black','black'], ['Green','green'], ['Red','red']]
  .form-actions
    = f.button :submit, :value => "Salvar", :class => "ui blue fluid huge submit button"
    = link_to 'Delete',
      event,
      method: :delete,
      class: 'ui red fluid huge button',
      data: { confirm: 'Are you sure?' },
      remote: true unless @event.new_record?
