.ui.attached.message
  .header
    Asignar Ruta

  %p Por favor llenar los siguientes datos

= simple_form_for @event, :html => {:class => 'ui form huge attached fluid segment'}, remote: true do |f|
  .field
    .field.required
      = f.label 'Descripción'
      = f.input :title, label: false
    .field
      = f.label 'Fecha'
      = f.input :date_range, label: false, name:'daterange', input_html: { class: "form-control input-sm date-range-picker" }
      = f.input_field :start, label: false, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden'
      = f.input_field :end, label: false, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden'
    .four.wide.field
      = f.label 'Color'
      = f.input :color, label: false, collection: [['Negro','black'], ['Verde','green'], ['Rojo','red']]
    - unless @event.new_record?
      .ui.checkbox
        = f.input :visited, label: "Visitado?", as: :boolean, boolean_style: :inline
      .field
        = f.input :note, as: :text, label: 'Notas'
  .form-actions
    = f.button :submit, :value => "Salvar", :class => "ui green fluid huge submit button"
    %br
    = link_to 'Eliminar',
      event,
      method: :delete,
      class: 'ui red fluid huge button',
      data: { confirm: '¿Está seguro…?' },
      remote: true unless @event.new_record?

:javascript
