
-# = render './layouts/shared/menu'

.pusher
	%div.main.ui.container
		- if @real_u != nil
			%h1.ui.header.blue.block.centered
				Ruta de #{@real_u.username}
				.ui.three.container
					%a.ui.red.label.tiny#red_info Información Pendiente
					%a.ui.green.label.tiny#green_info Visitas Completadas
					%a.ui.orange.label.tiny#orange_info Visitas Pendientes
		- else 
			%h1.ui.header.blue.block.centered
				Ruta de #{current_user.username}
				.ui.three
					%a.ui.red.label.tiny#red_info Información Pendiente
					%a.ui.green.label.tiny#green_info Visitas Completadas
					%a.ui.orange.label.tiny#orange_info Visitas Pendientes

		.ui.modal.container.tiny.red_modal
			.ui.icon.header.red
				%i.exclamation.triangle.icon
				Información Pendiente
			.content
				%p Favor revisar y/o actualizar información relevante del planeamiento como la fecha de la visita.
			.actions
				.ui.green.ok.inverted.button
					%i.checkmark.icon
					Ok

		.ui.modal.container.tiny.green_modal
			.ui.icon.header.green
				%i.calendar.check.outline.icon
				Visitas Completadas
			.content
				%p Visitas pautadas para el día correspondiente han sido completada.
			.actions
				.ui.green.ok.inverted.button
					%i.checkmark.icon
					Ok

		.ui.modal.container.tiny.orange_modal
			.ui.icon.header.orange
				%i.calendar.alternate.outline.icon
				Visitas Pendientes
			.content
				%p Visitas pautadas pendientes de realizar.
			.actions
				.ui.green.ok.inverted.button
					%i.checkmark.icon
					Ok


		- if current_user.admin	
			.ui.segment.form.input
				= search_form_for @q, url: events_index_path do |f|
					.field
						= f.label :user_id_eq, 'Usuario'
						- if @real_u != nil
							= f.select :user_id_eq, options_from_collection_for_select(User.all, "id", "username",  {:selected => @real_u.id})
						- else
							= f.select :user_id_eq, options_from_collection_for_select(User.all, "id", "username",  {:selected => current_user.id})

					= f.submit "Filtrar", :class => "ui blue submit button"


		%br
		%div.ui.container
			-# Logo
			-# = image_tag("logo_big.jpg", class:'logo_welcome')

			-# Render Calendar
			.calendar-main

			.ui.card.yellow{:style => "width: 500px;"}
				.content
					- unless current_user.admin
						%i.right.floated.edit.icon.blue.large#edit_nota
					.header Notas
					-# .meta hace 2 días
					.description
						%p
							- if @real_u != nil
								= simple_format(@real_u.note)
							-# - else
							-# 	= simple_format(@current_user.note)
				.extra.content
					%i.check.icon	
					= @real_u.visits.where(cycle: Cycle.last.name).count
					Visitas Realizadas


			.ui.modal.container.note_modal
				%i.close.icon
				.header
					Edita tus notas
				.content
					-# .ui.medium.image
					-#   %img{:src => "/images/avatar/large/chris.jpg"}/
					.description
						= simple_form_for(@event, :html => {:class => 'ui form huge attached fluid segment'}) do |f|
							-# = f.error_notification
						
							.field.required
								= f.label "nota"
								= f.input :note, as: :text, label: false, input_html: {value: @user.note}
							.form-actions
								= f.button :submit, :value => "Salvar", :class => "ui blue fluid huge submit button", :data => { :disable_with => "Procesando" }
					
						-# .ui.header We've auto-chosen a profile image for you.
						-# .ui.form
						-#   .field
						-#     %label Editar
						-#     %textarea
				.actions
					.ui.black.deny.button
						Cancelar
					.ui.positive.right.labeled.icon.button
						Guardar
						%i.checkmark.icon