
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Centros

    -# .ui.large.action.input
    -#   = form_tag report_center_path, :method => 'get' do
    -#     = text_field_tag :search, params[:search], :placeholder => "Centro..."
    -#     = button_tag "Buscar", :name => nil, :class => "button large ui button"

    .ui.segment.form.input{:style => "margin-top: 0;"}
      = search_form_for @q, url: report_center_path(:format => "pdf"), :html => {:target=>'_blank'} do |f|
        .three.fields
          .field
            = f.label :city_cont, 'Ciudad'
            -# = f.select(:city_cont, collection: Center::CITIES)
            = f.select(:city_cont, Center::CITIES, {:include_blank => 'Todas'}, { :class => 'ui dropdown' })

          .field
            = f.label :region_cont, 'Región'
            = f.search_field :region_cont
            -# = f.select(:region_cont, collection: Center::REGION)
          .field
            = f.label :category_cont, 'Categoria'
            = f.select(:category_cont, Doctor::CATEGORIES, {:include_blank => 'Todas'}, { :class => 'ui dropdown' })
          - if current_user.admin  
            .field
              = f.label :user_username_eq, 'Usuario'
              = f.select :user_username_eq, options_from_collection_for_select(User.all, "username", "username"),
              include_blank: 'Todos' 
        = f.submit "Imprimir Reporte", :class => "ui blue button"


    %table.ui.sortable.celled.table.striped.olive
      %thead
        %tr
          %th Centro
          %th Categoria
          %th Región
          %th Dirección
          %th Ciudad
          - if current_user.admin
            %th Usuario
          %th Acciones
            


      %tbody
        - @centers.each do |center|
          %tr
            %td= center.name
            %td= center.category  
            %td= center.region
            %td= center.address
            %td= center.city
            - if current_user.admin && center.user != nil
              %td= center.user.username  
            %td.collapsing.positive
              = link_to 'Ver', center, class: "ui brown basic submit button"



      = will_paginate @centers, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3

    %br
    - if params[:q]
      = link_to report_center_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    - else
      = link_to report_index_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
