
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Doctores

    .ui.segment.form.input{:style => "margin-top: 0;"}
      = search_form_for @q, url: report_doctor_path(:format => "pdf"), :html => {:target=>'_blank'} do |f|
        .four.fields
          .field
            = f.label :firstname_or_lastname_cont, 'Nombre'
            = f.search_field :firstname_or_lastname_cont
          .field
            = f.label :speciality_eq, 'Especialidad'
            = f.select :speciality_eq, collection: Doctor::SPECIALTIES
          .field
            = f.label :center_name_cont, 'Centro'
            = f.search_field :center_name_cont
          .field
            = f.label :center_city_eq, 'Ciudad'
            = f.select :center_city_eq, collection: Center::CITIES    
          .field
            = f.label :category_eq, 'Categoria'
            = f.search_field :category_eq
          - if current_user.admin  
            .field
              = f.label :user_username_eq, 'Usuario'
              = f.select :user_username_eq, options_from_collection_for_select(User.all, "username", "username"),
              include_blank: 'Todos' 
        = f.submit "Imprimir Reporte", :class => "ui blue button"


      -# = form_tag report_doctor_path, :method => 'get' do
      -#   = text_field_tag :search, params[:search], :placeholder => "Doctor..."
      -#   = button_tag "Buscar", :name => nil, :class => "button large ui button"
    -#
    -# %button.ui.large.olive.icon.button.right.floated
    -#   %i.print.icon


    %table.ui.sortable.celled.table.striped.definition.olive
      %thead
        %tr
          %th
          %th Nombres
          %th Apellidos
          %th Categoría
          %th Centro
          - if current_user.admin
            %th Usuario
          %th Acciones

      %tbody
        - @doctors.each do |doctor|
          %tr
            %td.collapsing
              %div.ui.fitted
                = doctor.speciality
            %td= doctor.firstname
            %td= doctor.lastname
            %td= doctor.category
            %td= doctor.center.name if doctor.center
            - if current_user.admin && doctor.user != nil
              %td= doctor.user.username 
            - else 
              %td -
            %td.collapsing.positive
              = link_to 'Ver', doctor, class: "ui brown basic submit button"


      = will_paginate @doctors, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3


    %br
    - if params[:search]
      = link_to report_doctor_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    - else
      = link_to report_index_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
