
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Reporte de Doctores por Centro

    .ui.segment.form.input{:style => "margin-top: 0;"}
      = search_form_for @q, url: report_doctor_center_path(:format => "pdf"), :html => {:target=>'_blank'} do |f|
        .field
          = f.label :center_name_cont, 'Nombre del Centro'
          -# = f.search_field :center_name_cont
          = f.select(:center_name_cont, @centers.collect {|p| [ p.name] }, {include_blank: true, prompt: 'Seleccionar Centro'}, :id => "e1", :class => "ui search dropdown", :style => "width: 100%;")

        = f.submit "Imprimir Reporte", :class => "ui blue button"

    -# .ui.large.action.input{:style => "margin-top: 0;"}
    -#   = form_tag report_doctor_center_path, :method => 'get' do
    -#     = text_field_tag :search, params[:search], :placeholder => "Doctor..."
    -#     = button_tag "Buscar", :name => nil, :class => "button large ui button"
    -# %button.ui.large.olive.icon.button.right.floated
    -#   %i.print.icon

    %br
    %br

    %table.ui.sortable.celled.table.striped.definition.olive
      %thead
        %tr
          %th
          %th Nombres
          %th Apellidos
          %th Categoría
          %th Centro
          - if current_user.admin
            %th Usuario 
          %th Acciones

      %tbody
        - @doctors.each do |doctor|
          %tr
            %td.collapsing
              %div.ui.fitted
                = doctor.speciality
            %td= doctor.firstname
            %td= doctor.lastname
            %td= doctor.category
            %td= doctor.center.name if doctor.center
            - if current_user.admin && doctor.user != nil
              %td= doctor.user.username  
            - else
              %td -
            %td.collapsing.positive
              = link_to 'Ver', doctor, class: "ui brown basic submit button"

      = will_paginate @doctors, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3



    %br
    - if params[:search]
      = link_to report_doctor_center_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    - else
      = link_to report_index_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
