
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Farmacias

    .ui.segment.form.input{:style => "margin-top: 0;"}
      = search_form_for @q, url: report_drugstore_path(:format => "pdf"), :html => {:target=>'_blank'} do |f|
        .fields
          .field
            = f.label :city_cont, 'Ciudad'
            -# = f.select(:city_cont, collection: Drugstore::CITIES)
            = f.select(:city_cont, Center::CITIES, {:include_blank => 'Todas'}, { :class => 'ui dropdown' })
          - if current_user.admin  
            .field
              = f.label :user_username_eq, 'Usuario'
              = f.select :user_username_eq, options_from_collection_for_select(User.all, "username", "username"),
              include_blank: 'Todos' 
        = f.submit "Imprimir Reporte", :class => "ui blue button"

      -# = form_tag report_drugstore_path, :method => 'get' do
      -#   = text_field_tag :search, params[:search], :placeholder => "Farmacia..."
      -#   = button_tag "Buscar", :name => nil, :class => "button large ui button"

    -# %button.ui.large.olive.icon.button.right.floated
    -#   %i.print.icon

    %table.ui.sortable.celled.table.striped.olive
      %thead
        %tr
          %th Farmacia
          %th Tel.
          %th Dirección
          %th Ciudad
          - if current_user.admin
            %th Usuario 
          %th Acciones

      %tbody
        - @drugstores.each do |drugstore|
          %tr
            %td= drugstore.name
            %td= drugstore.phone
            %td= drugstore.address
            %td= drugstore.city
            - if current_user.admin && drugstore.user != nil
              %td= drugstore.user.username 
            - else
              %td -
            %td.collapsing.positive
              -# = link_to 'Ver', drugstore, class: "ui brown basic submit button"
              = link_to 'Ver', edit_drugstore_path(drugstore), class: "ui brown basic submit button"

      = will_paginate @drugstores, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3

    %br


    - if params[:search]
      = link_to report_drugstore_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    - else
      = link_to report_index_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
