
.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Reporte de Visita

    .ui.segment.form.input{:style => "margin-top: 0;"}
      = search_form_for @q, :url => report_planning_path(:format => "pdf"), :html => {:target=>'_blank'}  do |f|
        .four.fields
          -# .field#planning_date_visit
          -#   = f.label :date_visit, 'Fecha'
          -#   = f.search_field :date_visit_gteq
          .field#planning_date_visit
            = f.label :date_visit, 'Desde'
            = f.search_field :date_visit_gteq
          .field#planning_date_visit_lteq
            = f.label :date_visit, 'Hasta'
            = f.search_field :date_visit_lteq
          .field
            = f.label :doctor_firstname_or_doctor_lastname, 'Doctor'
            = f.search_field :doctor_firstname_or_doctor_lastname_cont
          .field
            = f.label :user_username_cont, 'Usuario'
            = f.search_field :user_username_cont

        = f.submit "Imprimir Reporte", :class => "ui blue submit button"



    -# .ui.large.action.input
    -#   = form_tag report_planning_path, :method => 'get' do
    -#     = text_field_tag :search, params[:search], :placeholder => "Doctor..."
    -#     = button_tag "Buscar", :name => nil, :class => "button large ui button"
    -# %button.ui.large.olive.icon.button.right.floated
    -#   %i.print.icon

    -# .ui.large.action.input
    -#   = form_tag report_planning_path, :method => 'get' do
    -#     .field.required#planning_date_visit
    -#       = text_field_tag :search, params[:search], :placeholder => "Fecha..."
    -#     = button_tag "Buscar", :name => nil, :class => "button large ui button"

    %table.ui.sortable.celled.table.striped.blue
      %thead
        %tr
          -# %th
          %th Usuario
          %th Doctor
          %th Especialidad
          %th Fecha de Visita
          %th Visitado?
          %th Acciones

      %tbody
        - @plannings.each do |planning|
          %tr
            -# %td.collapsing
            -#   %div.ui.fitted
            -#     = planning.shift
            %td= planning.user.username
            %td= planning.doctor.firstname + ' ' + planning.doctor.lastname
            %td= planning.doctor.speciality  
            %td= planning.date_visit.strftime("%d/%m/%Y") if planning.date_visit != nil
            %td
              - if planning.visited
                %i.checkmark.icon.green.huge
              - else
                %i.minus.icon.brown.huge

            %td.collapsing.positive
              = link_to 'Ver', planning, class: "ui brown basic submit button"

      = will_paginate @plannings, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3


    %br
    - if params[:q]
      = link_to report_planning_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    - else
      = link_to report_index_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
