-# .ui.attached.message
-#   .header
-#     Registro
%h2.ui.center.aligned.icon.header
  %i.circular.doctor.icon.blue
  -# = @doctor.firstname if @doctor.firstname != nil + " " + @doctor.lastname if @doctor.lastname != nil
  = "#{@doctor.firstname} #{@doctor.lastname}"

  -# %p Por favor llenar los siguientes datos

= simple_form_for(@doctor, :html => {:class => 'ui form attached fluid segment', :autocomplete => "off"}) do |f|
  -# = f.error_notification
  .two.fields
    .field.required
      = f.label "Nombres"
      = f.input :firstname, placeholder: "Digite los Nombres", label: false
    .field.required
      = f.label "Apellidos"
      = f.input :lastname, placeholder: "Digite los Apellidos", label: false
  .field.required
    = f.label "Especialidad"
    -# = f.input :speciality, placeholder: "Especialidad", label: false
    = f.input :speciality, label: false, collection: Doctor::SPECIALTIES, input_html: { class: 'ui dropdown' }
  .three.fields
    .field.required
      = f.label "Centro Médico/Consultorio"
      -# = f.input :center, placeholder: "Centro Médico/Consultorio", label: false
      = f.select(:center_id, @centers.collect {|p| [ p.name, p.id ] }, {include_blank: true, prompt: 'Seleccionar Centro'}, :id => "e1", :class => "ui search dropdown", :style => "width: 100%;")
    .field
      %label Tel. del Centro
      %input{:name => "phone", :placeholder => "(000) 000 0000", :type => "text", :disabled => true, :id => "center_phone"}
      -# = .label "Tel."
      -# = .input :phone, label: false, disabled: true
    .field
      %label Ext.
      = f.input :phone_ext, label: false, as: :integer
  .two.fields
    .field
      = f.label 'Secretaria'
      = f.input :sec_name, label: false, :placeholder => "Nombre"
    .field
      %label Tel.
      = f.input :sec_phone, :placeholder => "(000)000-0000", :type => "text", :id => "sec_phone", label: false
  .field
    = f.label "Suite"
    = f.input :suite, label: false
  .two.fields
    .field
      = f.label "Email"
      = f.input :email, label: false
    .field#birthday_cal
      = f.label "Cumpleaños"
      = f.input :birthday, label: false, as: :string
  .field
    = f.label "Categoria"
    = f.input :category, label: false, collection: Doctor::CATEGORIES, input_html: { class: 'ui dropdown' }


  .form-actions
    = f.button :submit, :value => "Salvar", :class => "ui blue fluid huge submit button", :data => { :disable_with => "Procesando" }

- content_for :doctor_new do
  :javascript
    $("#sec_phone").mask("(999)999-9999");