= render './layouts/shared/menu'


.pusher
  %div.main.ui.container
    %h1 Listado de Doctores

    %table.ui.sortable.celled.table.striped.definition
      %thead
        %tr
          %th
          %th Nombres
          %th Apellidos
          %th acciones

      %tbody
        - @doctors.each do |doctor|
          %tr
            %td.collapsing
              %div.ui.fitted
                CIR
            %td= doctor.firstname
            %td= doctor.lastname
            %td.collapsing.positive
              = link_to 'Show', doctor, class: "ui brown basic submit button"
              = link_to 'Edit', edit_doctor_path(doctor), class: "ui blue basic submit button"
              = link_to 'Destroy', doctor, :method => :delete,
                                            class: "ui red basic submit button",
                                            :data => { :confirm => 'Are you sure?' }

              -# .ui.fitted
              -#   %a{:href => doctor_path(doctor)}
              -#     Show




      -# %tfoot
      -#   %tr
      -#     %th
      -#       Total:
      -#       = @doctors.count
      -#     %th
      -#     %th
    %br

    = link_to 'Nuevo Doctor', new_doctor_path, class: "ui blue basic submit button"
