-# = render './layouts/shared/menu'


.pusher
  %div.main.ui.container
    %h1.ui.header.blue Listado de Doctores

    .ui.form.input.segment
      -# = form_tag doctors_path, :method => 'get' do
      -#   = text_field_tag :search, params[:search], :placeholder => "Nombre..."
      -#   = submit_tag "Buscar", :name => nil, :class => "ui primary basic button"
      = search_form_for @q do |f|
        .seven.fields
          .field
            = f.label :firstname_cont, 'Nombre'
            = f.search_field :firstname_cont
          .field
            = f.label :lastname_cont, 'Apellido'
            = f.search_field :lastname_cont
          .field
            = f.label :center_name_cont, 'Centro'
            = f.search_field :center_name_cont
          .field
            = f.label :center_city_cont, 'Ciudad'
            = f.search_field :center_city_cont           
          .field
            = f.label :category_cont, 'Categoría'
            = f.search_field :category_cont
          .field
            = f.label :speciality_cont, 'Especialidad'
            = f.search_field :speciality_cont 
          .field
            = f.label :user_username_cont, 'Usuario'
            = f.search_field :user_username_cont 


        = f.submit "Filtrar", :class => "ui blue submit button"

    %table.ui.sortable.celled.table.striped.definition.olive
      %thead
        %tr
          %th
            %i.doctor.icon.large
          %th Nombres
          %th Apellidos
          %th Categoría
          %th Centro
          %th Acciones
          - if current_user.admin
            %th Usuario

      %tbody
        - @doctors.each do |doctor|
          %tr
            %td.smaller_f_speciality.collapsing
              %div.ui.fitted
                = doctor.speciality
            %td= doctor.firstname
            %td= doctor.lastname
            %td= doctor.category
            %td= doctor.center.name if doctor.center
            %td.collapsing.positive
              = link_to 'Ver', doctor, class: "ui brown basic submit button"
              = link_to 'Editar', edit_doctor_path(doctor), class: "ui blue basic submit button"
              = link_to 'Eliminar', doctor, :method => :delete,
                                            class: "ui red basic submit button",
                                            :data => { :confirm => '¿Está seguro…?' }
            - if current_user.admin && doctor.user != nil
              %td= doctor.user.username
            - else 
              %td -
              -# .ui.fitted
              -#   %a{:href => doctor_path(doctor)}
              -#     Show
      -# = will_paginate @doctors, previous_label: "Anterior", next_label: "Siguiente"
      -# = will_paginate @doctors, renderer: WillPaginateSemanticUi::ActionView::Renderer
      = will_paginate @doctors, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3



      -# %tfoot
      -#   %tr
      -#     %th
      -#       Total:
      -#       = @doctors.count
      -#     %th
      -#     %th
    %br
    - if params[:search]
      = link_to doctors_path, class: "ui blue basic submit button" do
        %i.big.icons
          %i.reply.icon
        = 'Volver'
    = link_to new_doctor_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.doctor.icon
        %i.corner.add.icon
      = 'Nuevo Doctor'
