!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gupharma
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = render :partial => 'layouts/shared/gmap'
    = csrf_meta_tags
  %body
    .pusher
      %div.yield
        - flash.each do |key, value|
          %div{:class => "#{flash_class(key)} closable", :id => "notice_center"}
            %i.close.icon
            = value

        - if user_signed_in?
          = render :partial => 'layouts/shared/menu'

        = yield
        - unless request.path.start_with?('/users/sign_in')
          = image_tag("background.png", :style => 'no-repeat center center fixed; opacity: 0.3; width: 100%')

        #remote_container

      = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

      = yield :javascript
      = yield :gmap_show_js
      = yield :gmap_form_edit
      = yield :gmap_form_new
      = yield :center_new
      = yield :plannings_new
      = yield :registers

