.ui.attached.message
  .header
    Registro de Plan


  -# %p Por favor llenar los siguientes datos

= simple_form_for(@planning, :html => {:class => 'ui form attached fluid segment'}) do |f|
  -# = f.error_notification

  .field.required
    = f.label "Titulo"
    = f.input :title, label: false
  .field.required
    = f.label "Doctor"
    -# = f.input :center, placeholder: "Centro Médico/Consultorio", label: false
    - if current_user.admin && request.path != '/plannings/new'
      = "#{@planning.doctor.firstname} #{@planning.doctor.lastname}"
    - else
      = f.select(:doctor_id, @doctors.collect {|p| [ p.firstname + ' '+ p.lastname, p.id ] }, {include_blank: true, prompt: 'Seleccionar Doctor'}, :id => "e1", :class => "ui search dropdown", :style => "width: 100%;")

  .two.fields
    .field.required#planning_date_visit
      = f.label "Fecha de Visita"
      = f.input :date_visit, label: false, as: :string, start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year]
    .field.required
      = f.label "Horario"
      -# = f.input :shift, label: false
      -# = f.input :shift, label: false, collection: Planning::SHIFTS, input_html: { class: 'ui search dropdown' }
      = f.input :shift, label: false

    -# .field
    -#   %input{class: 'time_element'}


    -# .field.required.datetimepicker
    -#   = f.label "Fecha de Salida"
    -#   = f.input :end, label: false, as: :string,
    -#                                 start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year]

  -# .ui.checkbox.toggle
  -#   = f.input :visited, label: "Visitado?", as: :boolean, boolean_style: :inline unless @planning.new_record?

  .ui.divider

  -# .field
  -#   = f.label "Nota"
  -#   = f.input :note, label: false

  -# .form-actions
  -#   = f.button :submit, :value => "Salvar", :class => "ui blue fluid huge submit button", :data => { :disable_with => "Procesando" }


  .ui.two.column.middle.aligned.very.relaxed.stackable.grid
    .column
      .field
        = f.label "Nota"
        = f.input :note, label: false
    .center.aligned.column
      -# .ui.big.green.labeled.icon.button
      -#   %i.signup.icon
        
      .form-actions
        = f.button :submit, :value => "Salvar Datos del Planeamiento", :class => "ui blue fluid huge submit button", :data => { :disable_with => "Procesando" }

  %br
  -# .ui.big.green.labeled.icon.button
  -#   %i.signup.icon
  -#     Generar Visita
  -# = link_to(:controller => "visits", :action => "new", :planning => @planning.id), class: "ui big green labeled icon button" do
  -#   %i.big.icons
  -#     %i.signup.icon
  -#   = 'Generar Visita'
  -# = link_to(:controller => "visits", :action => "new", :planning => @planning.id)
          
        -# %tr
        -#   %td
        -#     %i.folder.icon
        -#     test
        -#   %td Initial commit
        -#   %td.right.aligned 10 hours ago
        -# %tr
        -#   %td
        -#     %i.folder.icon
        -#     build
        -#   %td Initial commit
        -#   %td.right.aligned 10 hours ago
        -# %tr
        -#   %td
        -#     %i.file.outline.icon
        -#     package.json
        -#   %td Initial commit
        -#   %td.right.aligned 10 hours ago
        -# %tr
        -#   %td
        -#     %i.file.outline.icon
        -#     Gruntfile.js
        -#   %td Initial commit
        -#   %td.right.aligned 10 hours ago


      




- content_for :plannings_new do
  :javascript
    $(document).ready(function(){
      $(".time_element").timepicki();
      $("#planning_shift").timepicki();
    });
  