.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered Plan Mensual
    %br
    %h1.ui.header.blue.centered
      -# = Date::MONTHNAMES[Date.today.month]
      -# = I18n.l(Time.now, format: "%B").capitalize
    .ui.segment.form.input
      = search_form_for @q do |f|
        .five.fields
          .field#planning_date_visit
            = f.label :date_visit, 'Desde'
            = f.search_field :date_visit_gteq
          .field#planning_date_visit_lteq
            = f.label :date_visit, 'Hasta'
            = f.search_field :date_visit_lteq
          .field
            = f.label :doctor_center_name_cont, 'Centro'
            = f.search_field :doctor_center_name_cont
          .field
            = f.label :doctor_firstname_or_doctor_lastname, 'Doctor'
            = f.search_field :doctor_firstname_or_doctor_lastname_cont
          .field
            = f.label :doctor_speciality_eq, 'Especialidad'
            = f.select :doctor_speciality_eq, collection: Doctor::SPECIALTIES
          - if current_user.admin  
            .field
              = f.label :user_username_eq, 'Usuario'
              = f.select :user_username_eq, options_from_collection_for_select(User.all, "username", "username"),
              include_blank: 'Todos'
          -# .field
          -#   = f.select :visited_eq, [['Si', 1], [nil, nil], ['All', 2]] 
        = f.submit "Filtrar", :class => "ui blue submit button"


    %table.ui.sortable.celled.table.striped 
      %thead
        %tr
          -# %th
          %th Doctor
          %th Centro
          %th Categoría
          %th Fecha de Visita
          %th Visitado?
          %th Usuario  
          %th Acciones

      %tbody
        - @plannings.each do |planning|
          %tr
            -# %td.collapsing
            -#   %div.ui.fitted
            -#     = planning.shift
            %td= planning.doctor.firstname + ' ' + planning.doctor.lastname + " (#{planning.doctor.speciality})" if planning.doctor.firstname != nil
            %td= planning.doctor.center.name
            %td= planning.doctor.category
            - valid = DateTime.new(DateTime.now.year, @period.month, planning.date_visit.next_month.day, 0, 0, 0, DateTime.now.zone)
              
            -# %td= planning.date_visit.strftime("%d/%m/%Y") if planning.date_visit != nil
            %td= DateTime.new(DateTime.now.year, @period.month, valid.day, 0, 0, 0, DateTime.now.zone).strftime("%d/%m/%Y")
            %td
              - if planning.visited
                %i.checkmark.icon.green.large
              - else
                %i.minus.icon.brown.large
            %td= planning.user.username
            %td.collapsing.positive
              -# = link_to 'Ver |', planning
              -# = link_to 'Ver |', edit_planning_path(planning)
              
              = link_to 'Ver', edit_planning_path(planning), class: "ui blue basic submit button"
              = link_to 'Eliminar', planning, :method => :delete,
                class: "ui red basic submit button",
                :data => { :confirm => '¿Está seguro…?' }
              -# = link_to 'Eliminar', planning, :method => :delete, :data => { :confirm => 'Are you sure?' }

      = will_paginate @drugstores, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3


    %br

    -# = link_to 'New Planning', new_planning_path
    = link_to new_planning_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.first.aid.icon
        %i.corner.add.icon.green
      = 'Nuevo Evento'
