%p#notice= notice

%p
  %b Titulo:
  = @planning.title
%p
  %b Fecha de Visita:
  = @planning.date_visit
%p
  %b Tanda:
  = @planning.shift
%p
  %b Visitado?:
  = @planning.visited
%p
  %b Nota:
  = @planning.note

= link_to 'Edit', edit_planning_path(@planning)
\|
= link_to 'Back', plannings_path
